@model IEnumerable<WebStore.ViewModels.ProductViewModel>

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Товары</h2>
    @if (Model is null)
    {
        <p>Товары отсутствуют в каталоге по заданному фильтру</p>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="~/images/home/@item.ImageUrl" alt="" />
                            <h2>@item.Price.ToString("c")</h2>
                            <p>@item.Name</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>$56</h2>
                                <p>@item.Name</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#"><i class="fa fa-plus-square"></i>Добавить в желания</a></li>
                            <li><a href="#"><i class="fa fa-plus-square"></i>Добавить к сравнению</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        }
    }



</div><!--features_items-->